aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
beautifulsoup4==4.9.3
boto3==1.16.18
botocore==1.19.18
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.2.1
decorator==4.4.2
distlib==0.3.1
Django==2.1.5
django-rest-framework==0.1.0
django-rest-knox==4.1.0
djangorestframework==3.9.1
dynaconf==3.1.2
filelock==3.0.12
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
hvac==0.10.5
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
Jinja2==2.11.2
jmespath==0.10.0
knox==0.1.11
loguru==0.5.3
MarkupSafe==1.1.1
Pillow==8.0.1
promise==2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2018.9
requests==2.25.0
Rx==1.6.1
s3transfer==0.3.3
service-identity==18.1.0
shortuuid==1.0.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
txaio==20.4.1
Unidecode==1.1.1
urllib3==1.26.2
validators==0.18.1
virtualenv==20.1.0
win32-setctime==1.0.3
zope.interface==5.2.0
