<!DOCTYPE html>
<html lang="en">
<head>
       {% load static %}
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static '/styles/login.css' %}">
       <title>Login</title>
</head>
<body>

       <form class="login-form" action="/accounts/login/" method="post">
              <h1>Login</h1>

              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
              <br>
              <button class="Home"><a href="{% url 'home' %}">Back to Home</a></button>
       </form>

</body>
</html>