<!DOCTYPE html>
<html lang="en">
<head>
       {% load static %}
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="{% static '/styles/register.css' %}">
       
       <title>Document</title>
</head>
<body>
       <form class="register-form" action="/register/" method="post">
              <h1>Register</h1>
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Submit</button>
              <button class="Home"><a href="{% url 'home' %}">Back to Home</a></button>
       </form>
       {{ error }}
</body>
</html>