body{
       margin: 0px;
       padding: 0px;
       font-family: Helvetica;
       background: #e2e2e2;
}

/* for navbar styles */
.user{
       margin: 15px 100px;
}
.navbar{
       padding: 10px;
       width: 90%;
       display: flex;
       justify-content: space-between;
}


.navbar ul{
       display: flex;
       list-style: none;
}

.navbar ul li{
       margin: 0 10px;
}



.navbar ul li a{
       text-decoration: none;
       padding: 10px;
       color: rgb(8, 8, 8);
       transition: 0.3s;
       text-decoration: none;
}

   
.navbar ul li a::after {
       content: '';
       display: block;
       width: 0;
       margin-top: 10px;
       height: 2px;
       background: #000;
       transition: width .3s;
}

.navbar ul li a:hover::after {
       width: 110%;
}


@media (max-width:700px){
       .navbar{
              flex-direction: column;
              text-align: center;
              width: 90%;
              justify-content: center;
              align-items: center;
       }

       .user{
              margin: 10px auto;
              padding: 10px;
       }
}

/* Not login */

.login_warning{
       text-align: center;
       margin-top: 20%;
}

/* for blog posts */

.total{
       margin: 0 auto;
       text-align: center;
       font-weight: 600;
       font-size: 25px;
}

.posts{
       width: 100%;
       text-align: center;
}
.post{
       width: 70%;
       margin: 50px auto;
       background: rgb(255, 253, 253);
       padding: 20px 10px;
}

.title{
       text-decoration: none;
       color: black;
}
.post_s_body{
       max-width: 500px;
       margin: 10px auto;
}

.read_more{
       background: black;
       border: none;
       padding: 10px;
}

.read_more a{
       color: white;
       text-decoration: none;
}

.created_post_time{
       font-weight: 500;
}

@media (max-width:800px){
       .post img{
              width: 90%;
       }
}

