body{
       margin: 0;
       padding: 0;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       background: #e2e2e2;

       text-align: center;
}

.register-form{
       padding: 40px 40px;
       margin: 10% auto;
       color: rgb(3, 3, 3);
       display: inline-block;
}

li{
       list-style: none;
       background: black;
       color: white;
       padding: 5px;
       border-radius: 10px;
}

.register-form input{
       padding: 4px;
}

.register-form button{
       background: rgb(14, 14, 14);
       color: white;
       padding: 10px;
       border: none;
       margin: 10px auto;
}

a{
       text-decoration: none;
       color: white;
}