<!DOCTYPE html>
<html lang="en">
<head>

       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Home</title>
       {% load static %}
       <link rel="stylesheet" href="{% static '/styles/home.css' %}">
</head>
<body>

       <nav class="navbar">
              <h1 class="user">{{ user }}</h1>
              <ul>
                     <li><a href="{% url 'home' %}">Home</a></li>
                     <li><a href="{% url 'myposts' %}">My Posts</a></li>
                     <li><a href="{% url 'create_post' %}">Create Post</a></li>
                     <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
       </nav>
       <h3 class="total">My Total Posts : {{ total }}</h3>
       <div class="posts">
              {% for post in posts %}
                     <div class="post">
                            <a class="title" href="/posts/{{ post.id }}"><h1 class="post_title">{{ post.title }}</h1></a>
                            <img width="60%" height="200px" src="{{post.blog_img.url}}" alt="">
                            <p class="post_s_body">{{ post.short_body }}</p>
                            <h3 style="text-transform: uppercase;">Written by : {{ post.owner }}</h3>
                            <h3 class="likes">Likes : {{ post.get_likes | wordcount }}</h3>
                            <button class="read_more"><a href="/posts/{{ post.id }}">Read More</a></button>
                     </div>
              {% endfor %}
       </div>

     
</body>
</html>
